@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 75px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightyellow;
  -webkit-box-shadow: 0 2px 10px grey;
          box-shadow: 0 2px 10px grey;
  z-index: 999;
}

.hamburger {
  width: 25px;
  height: 3px;
  position: relative;
  left: 35px;
  display: inline-block;
  border-radius: 10px;
  background-color: indianred;
}

.hamburger::before, .hamburger::after {
  display: inline-block;
  width: 25px;
  height: 3.5px;
  border-radius: 10px;
  background-color: indianred;
  content: "";
}

.hamburger::before {
  position: absolute;
  bottom: 10px;
}

.hamburger::after {
  position: absolute;
  top: 10px;
}

.hamburger.color-changed {
  background-color: black;
}

.hamburger.color-changed::before, .hamburger.color-changed::after {
  background-color: black;
}

.navbar {
  width: 100%;
  position: absolute;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: lightyellow;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.navbar .nav-link {
  font-size: 14px;
  color: indianred;
}

.navbar-toggle {
  display: none;
}

.navbar-toggle:checked ~ navbar {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.navbar-toggle:checked ~ navbar .nav-item {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.1s;
  transition: opacity 0.3s ease 0.1s;
}

.navbar-toggle-label {
  height: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  position: absolute;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.logo .baseball-icon {
  color: indianred;
  margin: 5px;
}

.logo .website-title {
  color: indianred;
  font-family: "Oswald", sans-serif;
}

.main-content {
  width: 100%;
  position: relative;
  top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner {
  width: 100%;
  height: 300px;
  position: relative;
  background-image: url("images/baseball-background-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  opacity: 0.7;
  font-family: "Oswald", sans-serif;
}

.banner span {
  position: absolute;
  top: 40%;
  left: 50%;
  color: lightyellow;
  font-size: 24px;
}

.brand-value {
  width: 100%;
  height: 330px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightyellow;
  font-family: "Oswald", sans-serif;
}

.brand-value p {
  width: 70%;
  position: absolute;
  top: 10%;
  text-align: center;
  margin: 0 auto;
  color: indianred;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.brand-value span {
  position: relative;
  top: 55%;
  color: black;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.services-provided {
  width: 90%;
  position: relative;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.services-provided .what-we-offer-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  color: black;
  border-bottom: black 3px solid;
}

.services-provided .services-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-provided .services-wrapper .service {
  width: 80%;
  height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px;
  background-position: center;
  background-size: cover;
}

.services-provided .services-wrapper .service i {
  margin: 1rem 0;
  font-size: 50px;
  color: lightyellow;
  z-index: 5;
}

.services-provided .services-wrapper .service .service-title {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: lightyellow;
  letter-spacing: 1px;
  border-radius: 3px;
  z-index: 5;
}

.services-provided .services-wrapper .service .service-description {
  width: 150px;
  text-align: center;
  margin: 10px;
  font-family: "Oswald", sans-serif;
  color: lightyellow;
  letter-spacing: 1px;
  border-radius: 3px;
  z-index: 5;
}

.services-provided #stadiums-rental::before {
  width: 100%;
  height: 300px;
  position: absolute;
  border-radius: 5px;
  content: "";
  background-image: url("images/grass.jpg");
  background-position: center;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.services-provided #holding-activities::before {
  width: 100%;
  height: 300px;
  position: absolute;
  border-radius: 5px;
  content: "";
  background-image: url("images/activities-mobile.jpg");
  background-position: center;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.services-provided #players-agent::before {
  width: 100%;
  height: 300px;
  position: absolute;
  border-radius: 5px;
  content: "";
  background-image: url("images/baseball-player-mobile.jpg");
  background-position: center;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.customer-feedbacks {
  width: 100%;
  position: relative;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

.customer-feedbacks::before {
  width: 100%;
  height: 300px;
  position: absolute;
  border-radius: 5px;
  content: "";
  background-image: url("images/customer-stories-background.jpg");
  background-position: center;
  background-size: cover;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.customer-feedbacks .content-title {
  text-align: center;
  border-bottom: black 3px solid;
  margin: 25px;
  font-size: 24px;
  color: black;
  z-index: 5;
}

.customer-feedbacks .feedback {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: lightyellow 3px solid;
  border-radius: 5px;
  margin: 25px;
  color: lightyellow;
  z-index: 5;
}

.customer-feedbacks .feedback .feedback-title {
  text-align: center;
}

.customer-feedbacks .feedback .feedback-content {
  text-align: center;
}

.customer-feedbacks .feedback .customer-name {
  text-align: center;
}

.leave-a-message {
  width: 100%;
  position: relative;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 30px;
  background-color: lightyellow;
  color: black;
  opacity: 0.8;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

.leave-a-message span {
  margin: 1rem auto;
  font-size: 20px;
}

.leave-a-message .appellation {
  width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto;
}

.leave-a-message .appellation select {
  padding: 2px 5px;
}

.leave-a-message .first-name,
.leave-a-message .middle-name,
.leave-a-message .last-name,
.leave-a-message .email-address,
.leave-a-message .phone-number {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px auto;
}

.leave-a-message .first-name label,
.leave-a-message .middle-name label,
.leave-a-message .last-name label,
.leave-a-message .email-address label,
.leave-a-message .phone-number label {
  margin-right: 10px;
  font-weight: 900;
}

.leave-a-message .first-name input,
.leave-a-message .middle-name input,
.leave-a-message .last-name input,
.leave-a-message .email-address input,
.leave-a-message .phone-number input {
  padding: 2px;
}

.leave-a-message .message-content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto;
}

.leave-a-message .message-content label {
  margin: auto 10px auto 0;
  font-weight: 900;
}

.leave-a-message input,
.leave-a-message select {
  width: 50%;
  border: none;
  border-radius: 12px;
  background-color: indianred;
  opacity: 0.9;
}

.leave-a-message textarea {
  width: 50%;
  height: 160px;
  border: none;
  border-radius: 12px;
  background-color: indianred;
  opacity: 0.9;
}

footer {
  position: relative;
  top: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightyellow;
  font-family: "Oswald", sans-serif;
}

@media screen and (min-width: 576px) {
  .brand-value p {
    font-size: 18px;
  }
  .brand-value span {
    font-size: 24px;
  }
  .services-provided .what-we-offer-title {
    font-size: 28px;
  }
  .services-provided .service-title {
    font-size: 18px;
  }
  .services-provided .service-description {
    font-size: 18px;
  }
  .customer-feedbacks .content-title {
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) {
  .leave-a-message .first-name,
  .leave-a-message .middle-name,
  .leave-a-message .last-name,
  .leave-a-message .email-address,
  .leave-a-message .phone-number {
    width: 60%;
  }
  .leave-a-message .first-name label,
  .leave-a-message .middle-name label,
  .leave-a-message .last-name label,
  .leave-a-message .email-address label,
  .leave-a-message .phone-number label {
    font-size: 18px;
  }
  .leave-a-message .message-content {
    width: 60%;
  }
  .leave-a-message .message-content label {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-toggle-label {
    display: none;
  }
  .navbar {
    all: unset;
    width: 80%;
    position: absolute;
    left: 25%;
  }
  .navbar .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .nav-list .nav-item {
    width: 18%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .nav-list .nav-item .nav-link:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .logo {
    position: absolute;
    left: 15%;
  }
  .logo:hover .baseball-icon,
  .logo:hover .website-title {
    color: black;
  }
  .services-provided {
    margin-bottom: 50px;
  }
  .services-provided .services-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .services-provided .services-wrapper .service {
    width: 30%;
  }
  .services-provided .services-wrapper .service:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .customer-feedbacks {
    height: 400px;
  }
  .customer-feedbacks .feedbacks-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=index.css.map */