// reset css

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

::-webkit-scrollbar {
  // make scrollbar transparent
  width: 0px;
  background: transparent;
}

// import font styles
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

$main-color: lightyellow;
$sub-color: indianred;
$font-color: black;
$main-font: "Oswald", sans-serif;

// mobile style start

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

// header
header {
  // max-width: 375px;
  width: 100%;
  height: 75px;
  position: fixed;
  display: flex;
  align-items: center;
  background-color: $main-color;
  box-shadow: 0 2px 10px grey;
  z-index: 999;
}

// hamburger
.hamburger {
  width: 25px;
  height: 3px;
  position: relative;
  left: 35px;
  display: inline-block;
  border-radius: 10px;
  background-color: $sub-color;

  &::before,
  &::after {
    display: inline-block;
    width: 25px;
    height: 3.5px;
    border-radius: 10px;
    background-color: $sub-color;
    content: "";
  }

  &::before {
    position: absolute;
    bottom: 10px;
  }

  &::after {
    position: absolute;
    top: 10px;
  }

  // style for hamburger clicked
  &.color-changed {
    background-color: black;
  }

  &.color-changed {
    &::before,
    &::after {
      background-color: black;
    }
  }
}

// navbar
.navbar {
  width: 100%; // 讓navbar寬度為header寬度之100%
  position: absolute;
  top: 100%; // navbar從header底部開始做展開延伸
  display: flex;
  justify-content: center;
  background-color: $main-color;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.3s ease-out;

  .nav-link {
    font-size: 14px;
    color: $sub-color;
  }
}

.navbar-toggle {
  display: none;

  &:checked {
    ~ navbar {
      transform: scale(1, 1);
      .nav-item {
        opacity: 1;
        transition: opacity 0.3s ease 0.1s;
      }
    }
  }
}

.navbar-toggle-label {
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
}

// logo
.logo {
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transform: translateX(-50%);

  .baseball-icon {
    color: $sub-color;
    margin: 5px;
  }
  .website-title {
    color: $sub-color;
    font-family: $main-font;
  }
}

.main-content {
  width: 100%;
  position: relative;
  top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// banner
.banner {
  width: 100%;
  height: 300px;
  position: relative;
  background-image: url("images/baseball-background-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  opacity: 0.7;
  font-family: $main-font;

  span {
    position: absolute;
    top: 40%;
    left: 50%;
    color: $main-color;
    font-size: 24px;
  }
}

// brand value
.brand-value {
  width: 100%;
  height: 330px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main-color;
  font-family: $main-font;

  p {
    width: 70%;
    position: absolute;
    top: 10%;
    text-align: center;
    margin: 0 auto;
    color: $sub-color;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.5px;
  }

  span {
    position: relative;
    top: 55%;
    color: $font-color;
    font-size: 20px;
    letter-spacing: 0.5px;
  }
}

// services provided
.services-provided {
  width: 90%;
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;

  .what-we-offer-title {
    font-family: $main-font;
    font-size: 24px;
    color: $font-color;
    border-bottom: $font-color 3px solid;
  }

  .services-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .service {
      width: 80%;
      height: 300px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // border-radius: 20px;
      margin: 25px;
      background-position: center;
      background-size: cover;

      i {
        margin: 1rem 0;
        font-size: 50px;
        color: $main-color;
        z-index: 5;
      }

      .service-title {
        text-align: center;
        font-family: $main-font;
        font-weight: 700;
        color: $main-color;
        letter-spacing: 1px;
        border-radius: 3px;
        // backdrop-filter: blur(5px);
        z-index: 5;
      }

      .service-description {
        width: 150px;
        text-align: center;
        margin: 10px;
        font-family: $main-font;
        color: $main-color;
        letter-spacing: 1px;
        border-radius: 3px;
        // backdrop-filter: blur(5px);
        z-index: 5;
      }
    }
  }

  #stadiums-rental {
    &::before {
      width: 100%;
      height: 300px;
      position: absolute;
      border-radius: 5px;
      content: "";
      background-image: url("images/grass.png");
      background-position: center;
      filter: blur(2px);
    }
  }

  #holding-activities {
    &::before {
      width: 100%;
      height: 300px;
      position: absolute;
      border-radius: 5px;
      content: "";
      background-image: url("images/activities-mobile.png");
      background-position: center;
      filter: blur(2px);
    }
  }

  #players-agent {
    &::before {
      width: 100%;
      height: 300px;
      position: absolute;
      border-radius: 5px;
      content: "";
      background-image: url("images/baseball-player-mobile.png");
      background-position: center;
      filter: blur(2px);
    }
  }
}

// customer stories
.customer-feedbacks {
  width: 100%;
  position: relative;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $main-font;

  letter-spacing: 1px;

  &::before {
    width: 100%;
    height: 300px;
    position: absolute;
    border-radius: 5px;
    content: "";
    background-image: url("images/customer-stories-background.png");
    background-position: center;
    background-size: cover;
    filter: blur(2px);
  }
  .content-title {
    text-align: center;
    border-bottom: $font-color 3px solid;
    margin: 25px;
    font-size: 24px;
    color: $font-color;
    z-index: 5;
  }

  .feedback {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: $main-color 3px solid;
    border-radius: 5px;
    margin: 25px;
    color: $main-color;
    z-index: 5;

    .feedback-title {
      text-align: center;
    }

    .feedback-content {
      text-align: center;
    }

    .customer-name {
      text-align: center;
    }
  }
}

// leave a message
.leave-a-message {
  width: 100%;
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 30px;
  background-color: $main-color;
  color: $font-color;
  opacity: 0.8;
  font-family: $main-font;
  letter-spacing: 1px;

  span {
    margin: 1rem auto;
    font-size: 20px;
  }

  .appellation {
    width: 310px;
    display: flex;
    justify-content: center;
    margin: 10px auto;

    select {
      padding: 2px 5px;
    }
  }

  .first-name,
  .middle-name,
  .last-name,
  .email-address,
  .phone-number {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;

    label {
      margin-right: 10px;
      font-weight: 900;
    }

    input {
      padding: 2px;
    }
  }

  .message-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;

    label {
      margin: auto 10px auto 0;
      font-weight: 900;
    }
  }

  input,
  select {
    width: 50%;
    border: none;
    border-radius: 12px;
    background-color: $sub-color;
    opacity: 0.9;
  }

  textarea {
    width: 50%;
    height: 160px;
    border: none;
    border-radius: 12px;
    background-color: $sub-color;
    opacity: 0.9;
  }
}

// footer
footer {
  position: relative;
  top: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-color;
  font-family: $main-font;
}

@media screen and (min-width: 576px) {
  // brand value
  .brand-value {
    p {
      font-size: 18px;
    }

    span {
      font-size: 24px;
    }
  }

  // services-provided
  .services-provided {
    .what-we-offer-title {
      font-size: 28px;
    }

    .service-title {
      font-size: 18px;
    }

    .service-description {
      font-size: 18px;
    }
  }

  // customer stories
  .customer-feedbacks {
    .content-title {
      font-size: 28px;
    }
  }
}

@media screen and (min-width: 768px) {
  .leave-a-message {
    .first-name,
    .middle-name,
    .last-name,
    .email-address,
    .phone-number {
      width: 60%;

      label {
        font-size: 18px;
      }
    }

    .message-content {
      width: 60%;

      label {
        font-size: 18px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar-toggle-label {
    display: none;
  }

  .navbar {
    all: unset;
    width: 80%;
    position: absolute;
    left: 25%;

    .nav-list {
      display: flex;

      .nav-item {
        width: 18%;
        display: flex;
        justify-content: center;

        .nav-link {
          &:hover {
            transform: scale(1.1);
            transition: 0.2s;
          }
        }
      }
    }
  }

  .logo {
    position: absolute;
    left: 15%;

    &:hover {
      .baseball-icon,
      .website-title {
        color: black;
      }
    }
  }

  .services-provided {
    margin-bottom: 50px;
    .services-wrapper {
      flex-direction: row;

      .service {
        width: 30%;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  .customer-feedbacks {
    height: 400px;

    .feedbacks-wrapper {
      display: flex;
    }
  }
}
