<section class="main-content">
  <!-- banner -->
  <div class="banner">
    <span>We live for baseball.</span>
  </div>

  <!-- brand value -->
  <div class="brand-value" id="brand-value">
    <span><strong>Professional.</strong></span>
    <span><strong>Passionate.</strong></span>
    <span><strong>Honest.</strong></span>
    <p>
      Started in 2022, we believe that brilliance is made of every little piece
      of effort, and success is generated from every listening and caring. We
      are -
    </p>
  </div>

  <!-- services provided -->
  <div class="services-provided" id="services-provided">
    <span class="what-we-offer-title">What we offer</span>
    <div class="services-wrapper">
      <div class="service" id="stadiums-rental">
        <i class="fas fa-book-open"></i>
        <span class="service-title">Stadiums Rental.</span>
        <p class="service-description">
          Assist the customers to rent the stadiums or practice spaces.
        </p>
      </div>
      <div class="service" id="holding-activities">
        <i class="fas fa-microphone"></i>
        <span class="service-title">Holding activities.</span>
        <p class="service-description">
          Assist the clients to hold the activities, and help the clients
          prepare for the event.
        </p>
      </div>
      <div class="service" id="players-agent">
        <i class="fas fa-signature"></i>
        <span class="service-title">Players agent.</span>
        <p class="service-description">
          Assist the players to finish signing and negotiating of the contracts.
        </p>
      </div>
    </div>
  </div>

  <!-- customer stories -->
  <div class="customer-feedbacks">
    <span class="content-title">Customer stories</span>
    <div class="feedbacks-wrapper">
      <div class="feedback">
        <span class="feedback-title">Good cooperating experience.</span>
        <p class="feedback-content">
          They offer not only good service but also appropriate quotation.
        </p>
        <span class="customer-name">- Baker F. John</span>
      </div>
      <div class="feedback">
        <span class="feedback-title">Nice service.</span>
        <p class="feedback-content">
          They gave the appropriate reply and prompt support.
        </p>
        <span class="customer-name">- Hugh A. Hill</span>
      </div>
    </div>
  </div>
  
  <!-- leave a message -->
  <form action="" class="leave-a-message" id="leave-a-message">
    <span>Please leave a message to us if you need.</span>
    <div class="appellation">
      <select name="" id="appellation" class="appellation">
        <option value="please-choose-the-appellation">
          Please choose the appellation...
        </option>
        <option value="Mr.">Mr.</option>
        <option value="Mrs.">Mrs.</option>
        <option value="Ms.">Ms.</option>
      </select>
    </div>
    <div class="first-name">
      <label for="fname">*First name:</label>
      <input type="text" id="first-name" name="first-name" />
    </div>
    <div class="middle-name">
      <label for="mname">Middle name:</label>
      <input type="text" id="middle-name" name="middle-name" />
    </div>
    <div class="last-name">
      <label for="lname">*Last name:</label>
      <input type="text" id="last-name" name="last-name" />
    </div>
    <div class="email-address">
      <label for="email-address">*Email address:</label>
      <input type="text" id="email-address" name="email-address" />
    </div>
    <div class="phone-number">
      <label for="phone-number">*Phone number:</label>
      <input type="text" id="phone-number" name="phone-number" />
    </div>
    <div class="message-content">
      <label for="message-content">*Message:</label>
      <textarea
        name="message-content"
        id="message-content"
        cols="30"
        rows="10"
      ></textarea>
    </div>
  </form>
</section>