@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#stadiums-rental-template {
  width: 100%;
  height: 2800px;
  position: relative;
  top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Oswald", sans-serif;
}
#stadiums-rental-template::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background-image: url("/images/stadium-template-bg.png");
  background-position: center;
  background-size: cover;
  z-index: -1;
  filter: blur(2px);
}
#stadiums-rental-template .stadiums-we-have-title {
  position: relative;
  top: 50px;
  color: lightyellow;
  font-size: 20px;
}
#stadiums-rental-template .stadiums-wrapper {
  width: 100%;
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#stadiums-rental-template .stadiums-wrapper .stadium {
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: lightyellow 3px dashed;
  border-radius: 5px;
  margin: 20px 0;
  color: lightyellow;
}
#stadiums-rental-template .stadiums-wrapper .stadium img {
  height: 200px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
#stadiums-rental-template .stadiums-wrapper .stadium .stadium-name {
  margin: 10px 0;
}
#stadiums-rental-template .stadiums-wrapper .stadium .stadium-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
#stadiums-rental-template .stadiums-wrapper .stadium button {
  border: lightyellow 3px solid;
  border-radius: 10px;
}
#stadiums-rental-template .stadiums-wrapper .stadium button a {
  color: lightyellow;
}

@media screen and (min-width: 768px) {
  #stadiums-rental-template {
    height: 1300px;
  }
  #stadiums-rental-template .stadiums-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #stadiums-rental-template .stadiums-wrapper .stadium {
    width: 40%;
    margin: 30px;
  }
}
@media screen and (min-width: 1024px) {
  #stadiums-rental-template {
    height: 1000px;
  }
  #stadiums-rental-template .stadiums-wrapper .stadium {
    width: 25%;
  }
  #stadiums-rental-template .stadiums-wrapper .stadium img:hover {
    transform: scale(1.05);
    border: indianred 3px dashed;
  }
}/*# sourceMappingURL=stadiums-rental.css.map */